.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    padding: 10px;
    margin-bottom: 5px;

    max-width: 380px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius:  5px;
    background-color: #101010;
}

.task-text {
    font-weight:500;
    max-width: 230px;
    padding-inline: 5px;
    cursor: pointer;
    flex: 1;
    overflow-wrap: break-word;
}

.delete-button {
    padding: 10px 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}